**Assignment-6**

Aim: Find frequent patterns, associations, correlations, or causal structures among sets of

items in transaction databases.

In [2]:
from numpy import *

In [8]:
data = [
        ['T100',['M','O','N','K','E','Y']],
        ['T200',['D','O','N','K','E','Y']],
        ['T300',['M','A','K','E']],
        ['T400',['M','U','C','K','Y']],
        ['T500',['C','O','O','K','I','E']]
        ]

init = []
for i in data:
    for q in i[1]:
        if(q not in init):
            init.append(q)
init = sorted(init)
print(init)

['A', 'C', 'D', 'E', 'I', 'K', 'M', 'N', 'O', 'U', 'Y']

In [11]:
sp = 0.6
s = int(sp*len(data))
s

3

In [10]:
from collections import Counter
c = Counter()
for i in init:
    for d in data:
        if(i in d[1]):
            c[i]+=1
print("C1:")
for i in c:
    print(str([i])+": "+str(c[i]))
print()
l = Counter()
for i in c:
    if(c[i] >= s):
        l[frozenset([i])]+=c[i]
print("L1:")
for i in l:
    print(str(list(i))+": "+str(l[i]))
print()
pl = l
pos = 1
for count in range (2,1000):
    nc = set()
    temp = list(l)
    for i in range(0,len(temp)):
        for j in range(i+1,len(temp)):
            t = temp[i].union(temp[j])
            if(len(t) == count):
                nc.add(temp[i].union(temp[j]))
    nc = list(nc)
    c = Counter()
    for i in nc:
        c[i] = 0
        for q in data:
            temp = set(q[1])
            if(i.issubset(temp)):
                c[i]+=1
    print("C"+str(count)+":")
    for i in c:
        print(str(list(i))+": "+str(c[i]))
    print()
    l = Counter()
    for i in c:
        if(c[i] >= s):
            l[i]+=c[i]
    print("L"+str(count)+":")
    for i in l:
        print(str(list(i))+": "+str(l[i]))
    print()
    if(len(l) == 0):
        break
    pl = l
    pos = count
print("Result: ")
print("L"+str(pos)+":")
for i in pl:
    print(str(list(i))+": "+str(pl[i]))
print()

C1:
['A']: 1
['C']: 2
['D']: 1
['E']: 4
['I']: 1
['K']: 5
['M']: 3
['N']: 2
['O']: 3
['U']: 1
['Y']: 3

L1:
['E']: 4
['K']: 5
['M']: 3
['O']: 3
['Y']: 3

C2:
['E', 'Y']: 2
['K', 'Y']: 3
['M', 'Y']: 2
['O', 'K']: 3
['O', 'Y']: 2
['M', 'E']: 2
['M', 'K']: 3
['O', 'E']: 3
['K', 'E']: 4
['M', 'O']: 1

L2:
['K', 'Y']: 3
['O', 'K']: 3
['M', 'K']: 3
['O', 'E']: 3
['K', 'E']: 4

C3:
['M', 'K', 'E']: 2
['O', 'K', 'Y']: 2
['M', 'K', 'Y']: 2
['K', 'E', 'Y']: 2
['O', 'K', 'M']: 1
['O', 'K', 'E']: 3

L3:
['O', 'K', 'E']: 3

C4:

L4:

Result:
L3:
['O', 'K', 'E']: 3